html
	head
		style.
			body{
			margin:0;
			padding:0;

			}
			.container{
			margin: auto;
			
			}
			li.body {
			 list-style-type:none;
			 text-align: center;
			 border-style: dashed;
			 margin-bottom: 1%;

			}
			form {
			text-align: center;
			margin: 1%;
			padding: 1%;
			}

			h1{
			text-align: center;
			margin: 1%
			}

			input{
			text-align: center;
			border-style: solid;
			margin:1%;
			}

			ul.lijst{
			width: 50%;
			margin: auto;
			padding:0%;
						}



		script(src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous")
	body
		include nav
		h1 Submit your message here!

		form(method ="POST" action="input")
			input(type= "text" id="nameform" name="name" placeholder="name")
			br
			input(type= "text" id="titleform" name="title" placeholder="title")
			br
			input(type= "text" id="messageform" name="message" placeholder="message")
			br
			button(id="click" type="submit" value="submit") Submit

